@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fellix";
    src: url("./assets/fonts/Fellix-Regular.ttf") format("truetype"),
            url("./assets/fonts/Fellix-Regular.woff") format("woff"),
            url("./assets/fonts/Fellix-Regular.woff2") format("woff2"),
            url("./assets/fonts/Fellix-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: 'Fellix-Italic';
    src: url("./assets/fonts/Fellix-RegularItalic.ttf") format("truetype"),
            url("./assets/fonts/Fellix-RegularItalic.woff") format("woff"),
            url("./assets/fonts/Fellix-RegularItalic.woff2") format("woff2"),
            url("./assets/fonts/Fellix-RegularItalic.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-Bold";
    src: url("./assets/fonts/Fellix-Bold.ttf") format("truetype"),
            url("./assets/fonts/Fellix-Bold.woff") format("woff"),
            url("./assets/fonts/Fellix-Bold.woff2") format("woff2"),
            url("./assets/fonts/Fellix-Bold.eot") format("embedded-opentype");
}

@font-face {
    font-family: 'Fellix-Bold-Italic';
    src: url("./assets/fonts/Fellix-BoldItalic.ttf") format("truetype"),
            url("./assets/fonts/Fellix-BoldItalic.woff") format("woff"),
            url("./assets/fonts/Fellix-BoldItalic.woff2") format("woff2"),
            url("./assets/fonts/Fellix-BoldItalic.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-Medium";
    src: url("./assets/fonts/Fellix-Medium.ttf") format("truetype"),
            url("./assets/fonts/Fellix-Medium.woff") format("woff"),
            url("./assets/fonts/Fellix-Medium.woff2") format("woff2"),
            url("./assets/fonts/Fellix-Medium.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-Medium-Italic";
    src: url("./assets/fonts/Fellix-MediumItalic.ttf") format("truetype"),
            url("./assets/fonts/Fellix-MediumItalic.woff") format("woff"),
            url("./assets/fonts/Fellix-MediumItalic.woff2") format("woff2"),
            url("./assets/fonts/Fellix-MediumItalic.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-Light";
    src: url("./assets/fonts/Fellix-Light.ttf") format("truetype"),
            url("./assets/fonts/Fellix-Light.woff") format("woff"),
            url("./assets/fonts/Fellix-Light.woff2") format("woff2"),
            url("./assets/fonts/Fellix-Light.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-Light-Italic";
    src: url("./assets/fonts/Fellix-LightItalic.ttf") format("truetype"),
            url("./assets/fonts/Fellix-LightItalic.woff") format("woff"),
            url("./assets/fonts/Fellix-LightItalic.woff2") format("woff2"),
            url("./assets/fonts/Fellix-LightItalic.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-Semibold";
    src: url("./assets/fonts/Fellix-SemiBold.ttf") format("truetype"),
            url("./assets/fonts/Fellix-SemiBold.woff") format("woff"),
            url("./assets/fonts/Fellix-SemiBold.woff2") format("woff2"),
            url("./assets/fonts/Fellix-SemiBold.eot") format("embedded-opentype");
}

@font-face {
    font-family: "Fellix-ExtraBold";
    src: url("./assets/fonts/Fellix-ExtraBold.ttf") format("truetype"),
            url("./assets/fonts/Fellix-ExtraBold.woff") format("woff"),
            url("./assets/fonts/Fellix-ExtraBold.woff2") format("woff2"),
            url("./assets/fonts/Fellix-ExtraBold.eot") format("embedded-opentype");
}

@font-face {
    font-family: "lufga";
    src: url("./assets/fonts/LufgaRegular.ttf") format("truetype");
}

.wallpaper {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wallpaper img{
    position: absolute;
    z-index: -10;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; 
}

.drop:hover .dropdown{
    display: flex;
    transition: all 700ms ease;
}

.card{
    border: 1px solid #E3E3E3;
}

.faq-search{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.car{
    box-shadow: 6px 8px 0.6px 0px rgba(0, 0, 0, 0.15);
}

.in-active{
    font-family: 'Fellix-Medium';
    font-size: 14px;
    color: #212325CC;
}

.active-prof{
    font-family: 'Fellix-Medium';
    font-size: 14px;
    color: #5156BE;
    background-color: #F5F5FC;
}

/* Container styles */
.file-upload-container {
    width: 100%;
    max-width: 316px;
    border: 2px dashed #d9d9d9; /* Light gray dashed border */
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    background-color: #f9f9f9; /* Light background */
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  /* Hover effect */
  .file-upload-container:hover {
    border-color: #a9a9a9; /* Dark gray on hover */
  }
  
  /* Label styles */
  .file-upload-label {
    display: block;
    cursor: pointer;
    color: #444444; /* Text color */
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .file-upload-label p {
    margin: 0;
    font-weight: bold;
  }
  
  .file-upload-label small {
    color: #888888; /* Subtext color */
    display: block;
    margin-top: 8px;
  }
  
  input[type="file"] {
    display: none;
  }  

.active-time{
    color: white;
    background-color: #5156BE;
}

.active-option{
    border-bottom: 3px #13B799 solid;
    color: #14233A;
    font-family: 'Fellix-Bold';
}

.inactive-option{
    border-bottom: 1px solid #D7DCE4;
}

.inactive-radio{
    border: 1px solid #DDE2EB;
}

.active-radio{
    background-color: #E2F2FF4D;
    border: 1px solid #13B799;
}

.active-nav{
    color: #14233A;
    font-family: 'Fellix-Bold';
}

.inactive-nav{
    color: #14233A;
    font-family: 'Fellix';
}

.active-choice{
    background-color: #5156BE;
    color: white;
}

.inactive-choice{
    background-color: #F3F4F5;
    color: #5156BE;
}

.inactive-gain{
    border-bottom: solid 1px #D7DCE4;
}

.active-gain{
    border-bottom: solid 2px #13B799;
}

.active-gains{
    border-bottom: solid 2px #13B799;
}

.pre-inactive-button{
    background-color: #F3F4F4;
    color: #8B98B1;
}

.pre-active-button{
    background-color: #5156BE;
    color: white;
}

.inactive-tab{
    border: 1px solid #5156BE;
    color: #5156BE;
}

.active-tab{
    background-color: #5156BE;
    color: white;
    border: 1px solid #5156BE;
}

.active-history{
    border-bottom: 2px solid #13B799;
}

select, input[type="date"]{
    background-color: transparent ;
}

.custom-date::-webkit-calendar-picker-indicator {
    color: #8B98B1;
    /* -webkit-appearance: none; */
  }

#english{
    background-color: #FAFAFA !important;
    outline: none;
}

.active-trade{
    font-family: 'Fellix-Bold';
    color: #14233A;
}

.inactive-trade{
    font-family: 'Fellix';
    color: #526179CC;
}

.fellixSemiBold{
    font-family: 'Fellix-Semibold' !important;
}

.all-filled{
    opacity: 100%;
}

.input-one{
    border: 1px solid #DDE2EB;
    color: #14233A;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    outline: none;
    height: 48px;
    padding-left: 16px;
}

.bold-font-one{
    font-family: 'Fellix-ExtraBold';
    color: #14233A;
}

input[type="radio"]:checked + span {
    background-color: #3AB67A;
    border-color: #3AB67A;
}

input[type="radio"]:checked + span .radio-in{
    background-color: #979797;
}

.button-one{
    padding: 12px 32px;
    border-radius: 5px;
    height: 48px;
}

.active-auth{
    color: white;
    background-color: #5156BE;
}


@media(max-width: 768px){
    .list{
        max-width: 380px;
    }
}